.body {
    padding: 10px;
    position: relative;
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}
a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    margin-inline-end: 20px;
    margin-inline-start: 20px;
}