@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&display=swap');

.body {
    margin: 0;
    padding: 4%;
    /* padding-top: 3%; */
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: rgb(215, 255, 255, 0.2); */
    /* background: rgb(224, 255, 255,0.5); */
    /* background: url(); */
    /* width: 100vw; */
/* height: 100vh; */
scroll-behavior: smooth;
}
.header{
    margin: 0;
    /* background: aliceblue; */
background: url(/images/Picsart_22-06-03_12-03-23-315.png);
width: 100vw;
height: 100vh;
scroll-behavior: smooth;
background-attachment: fixed;
}

/* .body:hover {
    transition: 10s;
    background: rgb(224, 255, 255,0.2);
} */
/* .heading {
    color: #000000;
    font-size: 2rem;
    font-weight: lighter;
    margin-inline-end: 30px;
    margin-inline-start: 30px;
    text-transform: lowercase;
    font-family: 'Advent Pro', sans-serif;
} */
button {
    color: #000000;
    font-size: 2rem;
    font-weight: lighter;
    /* margin-inline-end: 30px;
    margin-inline-start: 30px; */
    text-transform: lowercase;
    font-family: 'Advent Pro', sans-serif;
    border: none;
    background: none;
    cursor: pointer;
}

.heading {
    margin: 0;
    opacity: 0.01;
}

.heading:hover {
    margin: 0;
    padding: 0;
    transition: 6s;
    opacity: 1;
    font-weight: 400;
}

.heading:hover span:nth-child(1) {
    margin-right: 0px;
}

.heading:hover span:nth-child(1):after {
    /* content: "roken"; */
    opacity: 1;
}

.heading:hover span:nth-child(2) {
    margin-left: 0px;
}

.heading:hover span:nth-child(2):after {
    /* content: "ies"; */
    opacity: 1;
}

.heading:hover span {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 2px rgb(14, 166, 180, 0.2),
        0 0 2px rgb(116, 12, 12, 0.2),
        0 0 2px rgb(174, 16, 16, 0.2);
    opacity: 1;
}
a{
    opacity: 0.5;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin-inline-end: 30px;
    margin-inline-start: 30px;
    cursor: pointer;
    font-size: smaller;
    /* visibility: hidden; */
}

a:hover {
    /* color: rgb(78, 132, 150); */
    transition: 1s;
    color: black;
        opacity: 1; 
        font-weight: 400;
}


/* .heading :hover a{
    display: block;
} */
/* .dropdown{
    position: absolute;
    display: none;
    text-shadow: 2px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.heading:hover .dropdown {display: block;}
.dropdown:hover a{
    /* background: aliceblue;   */
    .artistname{
        margin: 0;
        padding-top: 10%;
        position: relative;
        display: flex;
        justify-content: center;
        /* align-items: center;  */
        font-size: 100px;
        font-family: 'Advent Pro', sans-serif;
        font-weight: 200;
        transition: 3s;
        opacity: 0.02;
        /* background: steelblue; */
        height: 38.1vh;
        width: 100vw;
    }
    .artistname:hover {
        margin: 0;
        /* width: 100vw; */
        transition: 3s;
        opacity: 1;
        /* text-shadow: 0 0 2px rgb(14, 166, 180, 1),
            0 0 2px rgba(152, 103, 103, 1),
            0 0 2px rgba(206, 141, 141, 1); */
    }
    