.body {
    padding: 20px;
   
    display: flex;
    text-align: center;
    align-content: center;
    margin-left: 610px;
}

.heading {
    color: #000000;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
   
}
